   .image {
     margin-right: 80px; 
    /* height:-70px; */
    
      position:relative;
      bottom:250px;  

} 
/* .image1{
    margin-left:450px;
    margin-right:250px;
    position:relative;
    bottom:120px;
}  */